<div class="close-button-div">
    <img class="close-button" src="img/x.png" onclick="closeImpressumOrPrivacyPolicy('impressum')">
</div>
<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Pierre Rudolph Lettner<br />
    Grottenberg 2<br />
    86497 Horgau
</p>

<h2>Kontakt</h2>
<p>Telefon: 015170914951<br />
    E-Mail: PLettner@hotmail.de
</p>

<div class="attribution-div">
    <div>
        Pokeball von <a
            href="https://pixabay.com/de/users/alanyadk-1919646/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1536847">
            Alanyadk</a> auf <a
            href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1536847">Pixabay</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/oMEqQ7iOm583/pokedex">
            Pokedex</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        Flaggen von <a
            href="https://pixabay.com/de/users/sinisamaric1-3044277/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1722052">Sinisa
            Maric</a> auf <a
            href="https://pixabay.com/de//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1722052">Pixabay</a>
    </div>
    <div>
        Hintergrundmusik von <a href="https://www.looperman.com/loops?mid=dezluvv">Dezluvv</a> auf
        <a href="https://www.looperman.com/">Looperman</a>
    </div>
    <div>
        Pokemon Daten von <a href="https://pokeapi.co/">PokeApi.com</a>
    </div>
    <div>
        Pokemon Namen Deutsch von <a href="https://github.com/sindresorhus/pokemon">Sindresorhus</a>
    </div>
</div>
<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>