<div class="close-button-div">
    <img class="close-button" src="img/x.png" onclick="closeImpressumOrPrivacyPolicy('impressum')">
</div>
<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>Pierre Rudolph Lettner<br />
    Grottenberg 2<br />
    86497 Horgau
</p>

<h2>Kontakt</h2>
<p>Telefon: 015170914951<br />
    E-Mail: PLettner@hotmail.de
</p>

<div class="attribution-div">
    <div>
        <a href="https://www.flaticon.com/de/kostenlose-icons/kontrollkastchen"
            title="kontrollkästchen Icons">Kontrollkästchen Icons erstellt von rukanicon - Flaticon</a>
    </div>
    <div>
        <a href="https://www.flaticon.com/free-icons/close" title="close icons">Close icon created by Fuzzee
            -
            Flaticon</a>
    </div>
    <div>
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icon created by Ilham
            Fitrotul
            Hayat - Flaticon</a>
    </div>

    <div>
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icon created by
            Tempo_doloe
            -
            Flaticon</a>
    </div>

    <div>
        Computer Processing - Sound Effect by <a
            href="https://pixabay.com/de/users/samuelfrancisjohnson-1207793/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122131">SamuelFrancisJohnson</a>
        from <a
            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122131">Pixabay</a>
    </div>
    <div>
        Background Music by <a
            href="https://pixabay.com/users/lesiakower-25701529/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=178551">Lesiakower</a>
        from
        <a
            href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=178551">Pixabay</a>
    </div>
    <div>
        Short click 1 by <a
            href="https://pixabay.com/de/users/samuelfrancisjohnson-1207793/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122134">SamuelFrancisJohnson</a>
        from <a
            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122134">Pixabay</a>
    </div>
    <div>
        Short click 3 by <a
            href="https://pixabay.com/de/users/samuelfrancisjohnson-1207793/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122132">SamuelFrancisJohnson</a>
        from <a
            href="https://pixabay.com/sound-effects//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=music&amp;utm_content=122132">Pixabay</a>
    </div>
    <div>
        Winning sound from <a href="https://pixabay.com/de/sound-effects/multimedia-ss-cb1-hq-67074/">Pixabay</a>
    </div>
</div>
<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>